<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head lang="en">
        <title>Suncloud</title>

        <div th:replace="fragments/header :: head-css"></div>
        <div layout:fragment="site-head">
            <p>content</p>
        </div>
    </head>

    <body class="mainWrapper">
        <div th:replace="fragments/header :: header"></div>

        <div layout:fragment="content">
            <p>content</p>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>

</html>