<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head lang="en">
        <title>Suncloud</title>
        <meta charset="UTF-8"/>

        <div th:replace="fragments/header :: head-css"></div>
    </head>

    <body>
        <div th:replace="fragments/header :: header"></div>

        <section layout:fragment="content">
            <p>content</p>
        </section>

        <footer>
            <div th:replace="fragments/footer :: footer"></div>
        </footer>
    </body>

</html>