<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>ReactJS + Spring Data REST</title>

        <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>

        <section layout:fragment="content">
            <p>content</p>
        </section>

        <script src="/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>