<div id="wrapper">
  <div class="container-fluid" id="current-weather">
      <div class="prognoze-title">
          <h2>
              <span>{{ 'MISC.EXTERNAL_DATA' | translate }}</span>
          </h2>
      </div>
      <div id="noLiveMeasurementLoaded" *ngIf="!(weather$ | async) as weather" class="alert alert-danger" role="alert">
            <span>{{ 'MSRMNT.UNABLE_TO_LOAD' | translate }}</span>
      </div>
      <div class="row" *ngIf="weather$ | async as weather">

          <!-- Informacje lokalne -->
          <div class="col-md-4 col-sm-5">
              <h5 *ngIf="userLocation$ | async as location">
                  <span id="city-name">{{ location.city }}, </span>
                  <span id="country-code">{{ location.countryCode }}</span>
              </h5>
              <h6 id="local-date">{{ weather.getFormattedDate() }}</h6>
              <h5 id="local-time">{{ currentTime }}</h5>
          </div>

          <!-- Temperatura -->
          <div class="col-md-5 col-sm-7" style="margin: 10px">
              <div class="row">
                  <div>
                      <span id="main-temperature">{{ weather.tempAverage }}</span>
                  </div>
                  <span class="active" id="celcius">°C</span>
              </div>
          </div>

          <!-- Dane szczegolowe -->
          <div class="col-xs-12 col-sm-12 col-md-3 row">
              <div class="col-6 col-md-12 col-sm-3 col-xs-3 side-weather-info">
                  <h6>
                      <span>{{ 'WEATHER.HUMIDITY' | translate }}: </span>
                      <span id="humidity">{{ weather.humidity }} %</span>
                  </h6>
              </div>
              <div class="col-6 col-md-12 col-sm-3 col-xs-3 side-weather-info">
                  <h6>
                      <span>{{ 'WEATHER.WIND' | translate }}: </span>
                      <span id="wind">{{ weather.wind }} m/s</span>
                  </h6>
              </div>
              <div class="col-6 col-md-12 col-sm-3 col-xs-3 side-weather-info">
                  <h6>
                      <span>{{ 'WEATHER.MAX_TEMP' | translate }}: </span>
                      <span id="main-temp-max">{{ weather.tempMax }}</span>°
                  </h6>
              </div>
              <div class="col-6 col-md-12 col-sm-3 col-xs-3 side-weather-info">
                  <h6>
                      <span>{{ 'WEATHER.MIN_TEMP' | translate }}: </span>
                      <span id="main-temp-min">{{ weather.tempMin }}</span>°
                  </h6>
              </div>
          </div>
      </div>
      <div class="row">
          <a id="refresh-button" class="col-auto" (click)="updateWeatherData()">
              <fa name="refresh"></fa>
              <span> {{ 'MISC.REFRESH' | translate }}</span>
          </a>
      </div>
  </div>
</div>