<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head-css">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>

        <script type="text/javascript"
                src="webjars/jquery/3.2.1/jquery.min.js"
                th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
        <script type="text/javascript"
                src="webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
                th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <div th:fragment="header" th:remove="tag">
            <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark" role="navigation">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}" href="/">Suncloud</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"
                                th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                                <a class="nav-link" th:href="@{/}" href="/" th:text="#{nav.home}">home page</a>
                            </li>
                            <li class="nav-item"
                                th:classappend="${#httpServletRequest.getRequestURI() == '/swagger-ui.html' ? 'active':''}">
                                <a class="nav-link" th:href="@{/swagger-ui.html}" href="/swagger-ui.html"
                                    th:text="#{misc.apiDoc}">api documentation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>