<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head-css">
        <meta charset="UTF-8"/>

        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>

        <script type="text/javascript"
                src="webjars/jquery/3.2.1/jquery.min.js"
                th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
        <script type="text/javascript"
                src="webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
                th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <div th:fragment="header" th:remove="tag">
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" role="navigation">
                <div class="container">
                    <a class="navbar-brand" th:href="@{/}" href="/">Suncloud</a>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"
                                th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                                <a class="nav-link" th:href="@{/}" href="/">Strona główna</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>