<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
    <head>
        <title>Strona główna</title>
    </head>
    <body>
        <div layout:fragment="content">
            <span th:text="|Witaj UKSWORD|"></span>
            <table>
                <tr th:each="measure : ${msrmnts}">
                    <td th:text="${measure.temperature}">1</td>
                    <td><a href="#" th:text="${measure.dateTime}">Title ...</a></td>
                    <td th:text="${measure.airHumidity}">Text ...</td>
                </tr>
            </table>
        </div>
    </body>
</html>