<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
    <head lang="en">
        <title>Suncloud</title>

        <div layout:fragment="site-head" th:remove="tag">
            <link rel="stylesheet" type="text/css" href="../static/css/styles.css"
                  th:href="@{/css/styles.css}"/>
            <script src="../static/js/main.js"
                    th:src="@{/js/main.js}"></script>
        </div>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">
            <input type="hidden" th:value="#{msrmnt.latestStationMeasurement}" id="latestStationMeasurementLabel" />
            <input type="hidden" th:value="#{msrmnt.measurement}" id="measurementLabel" />

            <div class="container" style="flex: 1;">
                <div id="wrapper">
                    <div class="container-fluid" id="current-weather">
                        <div class="PrognozeTitle">
                            <h2>
                                <span th:text="#{misc.externalData}"></span>
                            </h2>
                        </div>
                        <div class="row">

                            <!-- Informacje lokalne -->
                            <div class="col-md-4 col-sm-5">
                                <h5>
                                    <span id="cityName"></span>,
                                    <span id="cityCode"></span>
                                </h5>
                                <h6 id="localDate"></h6>
                                <h5 id="localTime"></h5>
                            </div>

                            <!-- Temperatura -->
                            <div class="col-md-5 col-sm-7" style="margin: 10px">
                                <div class="row">
                                    <div>
                                        <span id="mainTemperature"></span>
                                    </div>
                                    <span class="active" id="celcius" style="font-size: 1.5rem;">°C</span>
                                </div>
                            </div>

                            <!-- Dane szczegolowe -->
                            <div class="col-xs-12 col-sm-12 col-md-3 row" style="text-align: right;">
                                <div class="col-6 col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                    <h6>
                                        <span th:text="#{weather.humidity}"></span>:
                                        <span id="humidity"></span>%
                                    </h6>
                                </div>
                                <div class="col-6 col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                    <h6>
                                        <span th:text="#{weather.wind}"></span>:
                                        <span id="wind"></span> m/s
                                    </h6>
                                </div>
                                <div class="col-6 col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                    <h6>
                                        <span th:text="#{weather.maxTemp}"></span>:
                                        <span id="mainTempHot"></span>°
                                    </h6>
                                </div>
                                <div class="col-6 col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                    <h6>
                                        <span th:text="#{weather.minTemp}"></span>:
                                        <span id="mainTempLow"></span>°
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <a id="refreshButton" class="col" href="">
                                <i class="fa fa-refresh fa-fw" th:text="#{misc.refresh}" aria-hidden="true"
                                   onclick="getWeatherData()"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="wrapper2">
                    <div class="container-fluid" id="current-weather">
                        <div class="PrognozeTitle">
                            <h2>
                                <span id="DbMeasureTitle" th:text="#{msrmnt.latestStationMeasurement}"></span>
                            </h2>
                        </div>
                        <div class="row">

                            <!-- Informacje lokalne -->
                            <div class="col-md-4 col-sm-5">
                                <h5>
                                    <span id="cityName" th:text="#{location.warsaw}">city</span>,
                                    <span id="cityCode" th:text="#{location.pl}">country code</span>
                                </h5>
                                <h6 id="localDateDb"></h6>
                                <h5 id="localTimeDb"></h5>
                            </div>

                            <!-- Temperatura -->
                            <div class="col-md-5 col-sm-7" style="margin: 10px">
                                <div class="row">
                                    <div>
                                        <span id="mainTemperatureDb"></span>
                                    </div>
                                    <span class="active" id="celcius" style="font-size: 1.5rem;">°C</span>
                                </div>
                            </div>

                            <!-- Dane szczegolowe -->
                            <div class="col-xs-12 col-sm-12 col-md-3 row" style="text-align: right;">
                                <div class="col-6 col-md-12 col-sm-4 col-xs-4 side-weather-info">
                                    <h6>
                                        <span th:text="#{weather.humidity}"></span>:
                                        <span id="humidityDb"></span>%
                                    </h6>
                                </div>
                                <div class="col-6 col-md-12 col-sm-4 col-xs-4 side-weather-info">
                                    <h6>
                                        <span th:text="#{weather.soilHumidity}"></span>:
                                        <span id="soilHumidityDb"></span>%
                                    </h6>
                                </div>
                                <div class="col-6 col-md-12 col-sm-4 col-xs-4 side-weather-info">
                                    <h6>
                                        <span th:text="#{weather.rainfallLevel}"></span>:
                                        <span id="rainfallLevelDb"></span>mm
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-7 dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px">
                                    <span th:text="#{msrmnt.selectOlderMeasurement}"></span>
                                </button>
                                <div id="weatherDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <th:block th:each="data : ${msrmnt}">
                                        <li th:value="${data.id}">
                                            <a class="dropdown-item" href="#wrapper2"
                                               th:text="${data.dateTime.toLocaleString()}">time</a>
                                        </li>
                                    </th:block>
                                </div>
                            </div>
                            <div id="newMeasurement" class="col-sm-5">
                                <button type="button" id="addMeasurementButton" class="btn btn-secondary"
                                        data-toggle="modal" data-target="#addMeasurementModal" th:text="#{msrmnt.addNew}">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addMeasurementModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" th:text="#{msrmnt.enterNew}">Enter new</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="newMeasurementForm" onsubmit="addNewMeasurement()">
                                <div class="modal-body">
                                    <div id="submitMeasurementAlert" class="alert alert-danger collapse" role="alert">
                                        <span id="submitMeasurementAlertLabel" th:text="#{misc.error}">error</span>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="newMeasurementDate" th:text="#{misc.date}">date</label>
                                            <input type="date" class="form-control" id="newMeasurementDate"
                                                   aria-describedby="emailHelp" required="true"/>
                                        </div>
                                        <div class="col form-group">
                                            <label for="newMeasurementTime" th:text="#{misc.hour}">hour</label>
                                            <input type="time" class="form-control" id="newMeasurementTime"
                                                   step="1" required="true"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="newMeasurementTemp" th:text="#{weather.temperature}">temperature</label>
                                            <input type="number" class="form-control" id="newMeasurementTemp" required="true"
                                                   step="0.1" min="-100" max="100"/>
                                        </div>
                                        <div class="col form-group">
                                            <label for="newMeasurementHumidity" th:text="#{weather.humidity}">humidity</label>
                                            <input type="number" class="form-control" id="newMeasurementHumidity" required="true"
                                                   min="0" max="100"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="newMeasurementRainLvl" th:text="#{weather.rainfallLevel}">rainfall level</label>
                                            <input type="number" class="form-control" id="newMeasurementRainLvl" required="true"
                                                   min="0"/>
                                        </div>
                                        <div class="col form-group">
                                            <label for="newMeasurementSoilHumid" th:text="#{weather.soilHumidity}">soil humidity</label>
                                            <input type="number" class="form-control" id="newMeasurementSoilHumid" required="true"
                                                   min="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            th:text="#{misc.cancel}">cancel</button>
                                    <button type="submit" class="btn btn-success" th:text="#{misc.add}">add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>