<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
    <head lang="en">
        <title>Suncloud</title>

        <link rel="stylesheet" type="text/css" href="../static/css/styles.css"
              th:href="@{/css/styles.css}"/>
        <script src="../static/js/main.js"
                th:src="@{/js/main.js}"></script>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container" id="wrapper">
                <div class="container-fluid" id="current-weather">
                    <div class="PrognozeTitle">
                        <h2>
                            <span>Dane zewnętrzne</span>
                        </h2>
                    </div>
                    <div class="row">

                        <!-- Informacje lokalne -->
                        <div class="col-md-4 col-sm-5">
                            <h5>
                                <span id="cityName"></span>
                                ,
                                <span id="cityCode"></span>
                            </h5>
                            <h6 id="localDate"></h6>
                            <h5 id="localTime"></h5>
                            <a id="refreshButton" href="#"><i class="fa fa-refresh fa-fw" aria-hidden="true"></i> Odśwież
                            </a>
                        </div>

                        <!-- Temperatura -->
                        <div class="col-md-5 col-sm-7" style="margin: 10px auto;padding:0;">
                            <div class="row">
                                <i class="wi" id="main-icon" style="font-size: 85px;"></i>
                                <div>
                                    <span id="mainTemperature"></span>
                                </div>
                                <p style="font-size: 1.5rem;"><a href="#" class="active" id="celcius">°C</a></p>
                            </div>
                        </div>

                        <!-- Dane szczegolowe -->
                        <div class="col-xs-12 col-sm-12 col-md-3 row" style="text-align: right;">
                            <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                <h6>Wilgotność:
                                    <span id="humidity"></span>
                                    %
                                </h6>
                            </div>
                            <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                <h6>Wiatr:
                                    <span id="wind"></span>
                                    m/s
                                </h6>
                            </div>
                            <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                <h6>Maks. temp.:
                                    <span id="mainTempHot"></span>
                                    °
                                </h6>
                            </div>
                            <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                <h6>Minim. temp.:
                                    <span id="mainTempLow"></span>
                                    °
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="wrapper2">
                <div class="container-fluid" id="current-weather">
                    <div class="PrognozeTitle">
                        <h2>
                            <span>Najnowszy pomiar ze stacji badawczej</span>
                        </h2>
                    </div>
                    <div class="row">

                        <!-- Informacje lokalne -->
                        <div class="col-md-4 col-sm-5">
                            <h5>
                                <span id="cityName">Warszawa</span>
                                ,
                                <span id="cityCode">PL</span>
                            </h5>
                            <h6 id="localDate"></h6>
                            <h5 id="localTime"></h5>
                            <a id="refreshButtonDb" href="#"><i class="fa fa-refresh fa-fw" aria-hidden="true"></i>Odśwież
                            </a>
                        </div>

                        <!-- Temperatura -->
                        <div class="col-md-5 col-sm-7" style="margin: 10px auto;padding:0;">
                            <div class="row">
                                <i class="wi" id="main-icon" style="font-size: 85px;"></i>
                                <div>
                                    <span id="mainTemperature"></span>
                                </div>
                                <p style="font-size: 1.5rem;"><a href="#" class="active" id="celcius">°C</a></p>
                            </div>
                        </div>

                        <!-- Dane szczegolowe -->
                        <div class="col-xs-12 col-sm-12 col-md-3 row" style="text-align: right;">
                            <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                <h6>Wilgotność:
                                    <span id="humidity"></span>
                                    %
                                </h6>
                            </div>
                            <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                <h6>Wiatr:
                                    <span id="wind"></span>
                                    m/s
                                </h6>
                            </div>
                            <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                <h6>Wilg. gleby:
                                    <span id="soilHumidity"></span>
                                    %
                                </h6>
                            </div>
                            <div class="col-md-12 col-sm-3 col-xs-3 side-weather-info">
                                <h6>Poziom opadów:
                                    <span id="rainfallLevel"></span>
                                    mm
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>