.footer {
    height: 100px;
    width: 100%;
    background-color: #b9b7b8;
    box-shadow: 1px 5px 25px 3px #444;
    padding: 15px;
}

.footer-info a, .footer-info span {
    text-align: center;
    vertical-align: middle;
    margin: auto auto 8px auto;
}