<div id="wrapper2">
    <div class="container-fluid" id="measurement-weather">
        <div class="PrognozeTitle">
            <h2>
                <span id="DbMeasureTitle">{{ 'MSRMNT.LATEST_STATION_MEASUREMENT' | translate }}</span>
            </h2>
        </div>
        <div id="noMeasurementLoaded" *ngIf="!selectedMeasurement" class="alert alert-danger" role="alert">
            <span>{{ 'MSRMNT.UNABLE_TO_LOAD' | translate }}</span>
        </div>
        <div class="row" *ngIf="selectedMeasurement">

            <!-- Informacje lokalne -->
            <div class="col-md-4 col-sm-5">
                <h5>
                    <span id="cityName">{{ 'LOCATION.WARSAW' | translate }}, </span>
                    <span id="cityCode">{{ 'LOCATION.PL' | translate }}</span>
                </h5>
                <h6 id="localDateDb">{{ selectedMeasurement.getLocaleDateLong() }}</h6>
                <h5 id="localTimeDb">{{ selectedMeasurement.getLocaleTime() }}</h5>
            </div>

            <!-- Temperatura -->
            <div class="col-md-5 col-sm-7" style="margin: 10px">
                <div class="row">
                    <div>
                        <span id="mainTemperatureDb">{{ selectedMeasurement.temperature }}</span>
                    </div>
                    <span class="active" id="celcius">°C</span>
                </div>
            </div>

            <!-- Dane szczegolowe -->
            <div class="col-xs-12 col-sm-12 col-md-3 row">
                <div class="col-6 col-md-12 col-sm-4 col-xs-4 side-weather-info">
                    <h6>
                        <span>{{ 'WEATHER.HUMIDITY' | translate }}: </span>
                        <span id="humidityDb">{{ selectedMeasurement.airHumidity }} %</span>
                    </h6>
                </div>
                <div class="col-6 col-md-12 col-sm-4 col-xs-4 side-weather-info">
                    <h6>
                        <span>{{ 'WEATHER.SOIL_HUMIDITY' | translate }}: </span>
                        <span id="soilHumidityDb">{{ selectedMeasurement.soilHumidity }} %</span>
                    </h6>
                </div>
                <div class="col-6 col-md-12 col-sm-4 col-xs-4 side-weather-info">
                    <h6>
                        <span>{{ 'WEATHER.RAINFALL_LEVEL' | translate }}: </span>
                        <span id="rainfallLevelDb">{{ selectedMeasurement.rainfallLevel }} mm</span>
                    </h6>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div ngbDropdown class="col-sm-7">
                <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton" style="margin-bottom: 5px">
                    <span>{{ 'MSRMNT.SELECT_OLDER_MEASUREMENT' | translate }}</span>
                </button>
                <div ngbDropdownMenu id="weatherDropdown" aria-labelledby="dropdownMenuButton">
                    <div *ngFor="let msrmnt of measurements">
                        <li value="{{msrmnt.id}}" (click)="changeDisplayedMeasurement(msrmnt.id)">
                            <a class="dropdown-item">{{msrmnt.getLocaleDateTime()}}</a>
                        </li>
                    </div>
                </div>
            </div>
            <div id="newMeasurement" class="col-sm-5">
                <app-add-measurement-modal [buttonStyle]="{ float: 'right', 'background-color': 'rgb(106, 76, 113)'}"></app-add-measurement-modal>
            </div>
        </div>
    </div>
</div>